@font-face {
	font-family: 'SBAggroB';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
		format('woff');
	font-weight: 300;
	font-style: light;
}

.yogiaddea {
	font-family: 'SBAggroB';
	font-weight: lighter;
}

@font-face {
	font-family: 'NoonnuBasicGothicRegular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
.cooki {
	font-family: 'NoonnuBasicGothicRegular';
}

* {
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
}
