@font-face {
    font-family: 'godoRoundedR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/godoRoundedR.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}